@import url('https://fonts.googleapis.com/css2?family=Gidole&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        height: 98.7vh;
        display: flex;
        align-items: center;
        background: linear-gradient(to top left, #17351e, #2bd112);
      
}

.CaixaLogin {
    width: 30%;
    height: 80%;
    margin-left: 2%;
    background-color: white;
    border: 5px solid #b4b4b4;
    border-radius: 5%;
    background: #ffffff
}

.container {
    margin-left: 15%;
    margin-bottom: 10%;
}

.icone{
  margin-left: 20%;
  margin-top: 15%;
}

.boasVindas{
    text-align: center;
    width: 100%;
    height: 0%;
    font-size: 600%;
  }
  
.textDesc1{
    font-size: 300%;
    text-align: center;
}

  .labelInput{
    width: 30%;
    height: 100%;
    display: flex;
    font-size: 20%;
    border: 3px solid #000000;
    border-radius: 4px;
  }

  .emailText{
    margin-top: 5%;
    margin-bottom: 6px;
    margin-left: 20px;
    font-size: 250%;
  }

  .wrong{
    width: 80%;
    height: 400%;
    font-size: 300%;
    margin-left: 2%;
    border: 3px solid #b4b4b4;
    border-radius: 25rem;
    background: #ebece3;
    padding-left: 5%;
    }

    .passwordText{
      margin-top: 10%;
      font-size: 250%;
      margin-bottom: 6px;
      margin-left: 20px;
    }

    .correctly{
      width: 80%;
    height: 400%;
    font-size: 300%;
    margin-left: 2%;
    border: 3px solid #b4b4b4;
    border-radius: 25rem;
    background: #ebece3;
    padding-left: 5%;
    }

    .btm-rec-senha{
      font-size: 230%;
      display: block;
      margin-top: 5px;
      margin-left: 15px;
    }

    .botaoEntrar{
      margin-top: 20%;
      margin-left: 28%;
      width: 40%;
      height: 30%;
      font-size: 220%;
      border: 4px solid #b4b4b4;
      border-radius: 25rem;
    }

    .descWelcome{
      font-size: 300%;
      margin-left: 10%;
      margin-bottom: 31%;
    }